@charset "UTF-8";
:root{
    --cor1:white;
    --cor2:lightgray;
    --cor3:gray;
    --cor4:rgb(80, 80, 80);
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor4);
}
main{
    margin: 60px auto;
    width: 300px;
    max-width: 90%;
}
main img{
    display: block;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 256px;
    height: 215px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.705);
}
section{
    width: 236px; 
    background-color: var(--cor1);
    padding: 1px 10px 20px 10px;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.705);
}
section h1{
    text-align: center;
    margin: 10px;
}
section #parágrafo{
    text-align: left;
    margin-bottom: 3px;
    font-size: 13.1px;
}
section .email,
section .senha {
    text-align: right;
    background-color: var(--cor4);
    padding: 3px 3px 3px 0px;
    margin-bottom: 5px;
    border-radius: 8px;
}
section .input {
    background-color: var(--cor2);
    border: none;
    font-size: 1em;
    padding-left: 4px;
    border-radius: 8px;
    width: 80%;
    height: 35px;
    display: inline-block;
}
section .input:focus{
    background-color: var(--cor1);
}
section #entrar{
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 15px;
    padding: 12px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    border-radius: 8px;
}
section #entrar:hover{
    background-color: var(--cor4);
    cursor: pointer;
}
section a{
    text-decoration: none;
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor4);
    font-size: 15px;
    border: 1px solid var(--cor4);
    border-radius: 8px;
    padding: 12px;
    display: block;
    margin: auto;
}
section a:hover{
    background-color: var(--cor2);
}